body {
  background: linear-gradient(135deg, #e8f5e9, #f1f8e9);
  font-family: Arial, sans-serif;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:20px 40px;
  background:white;
}
.nav-links{
  display:flex;
  gap:35px;
  align-items:center;
}

.nav-right{
  display:flex;
  align-items:center;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
  font-weight: 600;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #15803d;
}
.card {
  background: white;
  max-width: 900px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}
button {
  background: #16a34a;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #15803d;
}
h1 {
  color: #15803d;
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #16a34a;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #b8e6b7, #d9e88a);
  text-align: center;
  padding: 40px;
}

.hero-content {
  max-width: 900px;
}

.badge {
  display: inline-block;
  background: rgba(255,255,255,0.8);
  padding: 12px 24px;
  border-radius: 999px;
  color: #15803d;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.hero h1 {
  font-size: 3rem;
  margin: 30px 0;
  color: #0f172a;
  font-weight: 800;
}

.hero p {
  font-size: 1.4rem;
  color: #4b5563;
  line-height: 1.8;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  background: #16a34a;
  color: white;
  padding: 18px 36px;
  border-radius: 999px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

.secondary-btn {
  background: white;
  color: #111827;
  padding: 18px 36px;
  border-radius: 999px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}
.mission-section {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 100px 80px;
  background: #f7faf7;
  flex-wrap: wrap;
}

.mission-left {
  flex: 1;
  min-width: 450px;
}

.mission-badge {
  display: inline-block;
  background: #dcfce7;
  color: #15803d;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: 600;
  margin-bottom: 20px;
}

.mission-left h2 {
  font-size: 2rem;
  color: #111827;
  margin-bottom: 20px;
}

.mission-left p {
  font-size: 1rem;
  line-height: 1.8;
  color: #4b5563;
}

.mission-left ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.mission-left li {
  margin-bottom: 18px;
  font-size: 1rem;
}

.stats-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  min-width: 450px;
}

.stat-card {
  background: white;
  padding: 35px;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.06);
}

.stat-card h3 {
  font-size: 2rem;
  color: #16a34a;
  margin-bottom: 10px;
}

.stat-card p {
  color: #4b5563;
}

.categories-section {
  padding: 100px 50px;
  text-align: center;
  background: #eef7ee;
}

.categories-section h2 {
  font-size: 3rem;
  color: #111827;
  margin-bottom: 15px;
}

.categories-section > p {
  font-size: 1.2rem;
  color: #6b7280;
  margin-bottom: 50px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.category-card {
  background: white;
  padding: 25px;
  border-radius: 24px;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  transition: transform 0.3s;
  min-width: 0;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card h3 {
  margin-top: 20px;
  font-size: 1.3rem;
}

.category-card p {
  color: #6b7280;
}

@media (max-width: 1200px) {
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.icon {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.recycle {
  background: #dbeafe;
}

.organic {
  background: #dcfce7;
}

.ewaste {
  background: #fef3c7;
}

.hazardous {
  background: #fee2e2;
}

.general {
  background: #e5e7eb;
}
.feature-link {
  color: #16a34a;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.feature-link:hover {
  transform: translateX(4px);
}
.features-section {
  padding: 100px 60px;
  background: #f6faf4;
  text-align: center;
}

.features-section h2 {
  font-size: 2.5rem;
  color: #0f172a;
  margin-bottom: 10px;
}

.features-section p {
  font-size: 1.2rem;
  color: #64748b;
  margin-bottom: 30px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.feature-card {
  background: white;
  padding: 35px;
  border-radius: 24px;
  text-align: left;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-icon {
  width: 65px;
  height: 65px;
  background: #28a745;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  margin-bottom: 22px;
}

.feature-card h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #111827;
}

.feature-card p {
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.7;
  margin-bottom: 25px;
}

.feature-card span {
  color: #16a34a;
  font-weight: 700;
  font-size: 1rem;
}

.cta-section {
  padding: 10px 100px;
  background: #f6faf4;
}

.cta-card {
  max-width: 900px;
  margin: auto;
  background: linear-gradient(
    135deg,
    #16a34a,
    #4ade80
  );

  border-radius: 40px;
  padding: 80px 40px;
  text-align: center;

  box-shadow: 0 15px 40px rgba(22,163,74,0.2);
}

.cta-icon {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-card h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-card p {
  color: rgba(255,255,255,0.9);
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-btn {
  background: white;
  color: #16a34a;
  border: none;
  padding: 18px 40px;
  border-radius: 800px;
  font-size: 15px;
  font-weight: 700;
}

.cta-btn:hover {
  background: #f0fdf4;
}
.footer {
  background: #eef5ec;
  padding: 70px 80px 25px;
}

.footer-content {
  max-width: 1000px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 20px;
}

.footer-left {
  flex: 1;
  max-width: 400px;
}

.footer-left h3 {
  font-size: 1.5rem;
  color: #15803d;
  margin-bottom: 10px;
}

.footer-left p {
  color: #4b5563;
  line-height: 1.7;
  font-size: 14px;
}

.footer-right {
  display: flex;
  gap: 120px;
}

.footer-column h4 {
  margin-bottom: 20px;
  font-size: 24px;
}

.footer-column p {
  margin-bottom: 18px;
  color: #4b5563;
  cursor: pointer;
}

.footer-column p:hover {
  color: #16a34a;
}

.social-icons {
  display: flex;
  gap: 14px;
  margin-top: 25px;
}

.social-icons div {
  width: 52px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 50%;

  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  cursor: pointer;

  transition: 0.3s;
}

.social-icons div:hover {
  background: #16a34a;
  color: white;
  transform: translateY(-3px);
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 18px;
  border-top: 1px solid #dbe7d8;

  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #64748b;
}
.scanner-page{
  padding:60px;
}

.scanner-header{
  text-align:center;
  margin-bottom:50px;
}

.scanner-header h1{
  font-size:2.5rem;
  color:#0f172a;
}

.scanner-header p{
  font-size:1rem;
  color:#64748b;
}

.scanner-badge{
  display:inline-block;
  background:#dcfce7;
  color:#15803d;
  padding:10px 20px;
  border-radius:999px;
  font-weight:600;
}

.scanner-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
}

.scanner-card{
  background:white;
  border-radius:30px;
  padding:30px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
}
.upload-area {
  height: 450px;
  border: 3px dashed #cbd5d1;
  border-radius: 35px;
  background: #eef7ee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  width: 96px;
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 28px;

  background: linear-gradient(
    135deg,
    #16a34a,
    #4ade80
  );

  box-shadow: 0 12px 30px rgba(34, 197, 94, 0.25);
display: "flex";
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  box-shadow: 0 10px 25px rgba(34,197,94,0.25);
}

.upload-area h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 8px;
}

.upload-area p {
  font-size: 16px;
  color: #64748b;
}

.choose-image-btn {
  width: 100%;
  margin-top: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background: linear-gradient(
    135deg,
    #16a34a,
    #4ade80
  );

  color: white;
  font-size: 18px;
  font-weight: 700;

  padding: 20px;
  border-radius: 22px;

  cursor: pointer;
  border: none;
}
.upload-box{
  height:450px;
  border:3px dashed #d1d5db;
  border-radius:25px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  cursor:pointer;
}
.preview-image{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
}

.result-placeholder{
  height:450px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  color:#64748b;
}

.result-card{
  display:flex;
  flex-direction:column;
  gap:22px;
}
.result-top{
  background:#f7fbf7;
  border:1px solid #d8e7d8;
  border-radius:30px;
  padding:20px 30px;

  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.result-badge{
  background:#16a34a;
  color:white;

  padding:8px 18px;
  border-radius:999px;

  font-size:12px;
  font-weight:500;
}

.result-item{
  font-size:2rem;
  font-weight:800;
  color:#0f172a;

  margin-top:10px;
}

.confidence-box{
  text-align:right;
}

.confidence-box p{
  color:#64748b;
  font-size:12px;
}

.confidence-box h2{
  color:#16a34a;
  font-size:2rem;
  font-weight:800;
}

.dispose-box{
  margin-top:2px;

  background:#eaf7ea;

  padding:15px 20px;
  border-radius:24px;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

.bin-icon{
  width:20px;
  height:20px;

  background:#16a34a;

  border-radius:20px;

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  font-size:24px;
}
.dispose-text p{
  color:#64748b;
  margin:0;
}

.dispose-text h3{
  margin-top:4px;
  font-size:1rem;
  color:#0f172a;
}

.points{
  background:#d7f5d7;
  color:#16a34a;

  padding:10px 18px;
  border-radius:999px;

  font-weight:700;
  font-size:12px;
}

.info-card{
  background:#f8fbf8;

  border:1px solid #d8e7d8;
  border-radius:24px;

  padding:28px;
}
.info-card h3{
  font-size:1.2rem;
  margin-bottom:18px;
  color:#0f172a;
}

.info-card p,
.info-card li{
  color:#475569;
  font-size:15px;
  line-height:1.8;
}

.info-card ul{
  margin-top:10px;
  padding-left:12px;
}

.info-card li::marker{
  color:#16a34a;
}

.dashboard-page{
  padding:40px;
}

.dashboard-header h1{
  font-size: 40px;
  color: #0f172a;   /* dark black */
  font-weight: 700;
}

.dashboard-header p{
  font-size:15px;
  color:#64748b;
}

.dashboard-stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
  margin-top:40px;
}

.stat-card{
  background:white;
  padding:30px;
  border-radius:24px;
  position:relative;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.stat-icon{
  position:absolute;
  right:25px;
  top:25px;

  width:60px;
  height:60px;

  border-radius:18px;
  background:#16a34a;
  color:white;

  display:flex;
  align-items:center;
  justify-content:center;
}

.dashboard-charts{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
  margin-top:30px;
}

.chart-card{
  background:white;
  padding:30px;
  border-radius:24px;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.recent-card{
  margin-top:25px;
}

.recent-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 0;
  border-bottom:1px solid #e5e7eb;
}

.recent-left{
  display:flex;
  flex-direction:column;
  gap:4px;
}

.recent-left strong{
  font-size:18px;
  color:#0f172a;
}

.recent-left p{
  font-size:14px;
  color:#64748b;
  margin:0;
}

.recent-item span{
  color:#64748b;
  font-size:14px;
}

.tips-card{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.tips-subtitle{
  color:#64748b;
  margin-bottom:10px;
}

.tip-item{
  background:#f0fdf4;
  border:1px solid #bbf7d0;
  padding:14px 18px;
  border-radius:14px;
  font-size:15px;
  font-weight:500;
  color:#166534;
}



.active-filter{
  background:#16a34a !important;
  color:white;
  border:none !important;
}
.item-cell{
  display:flex;
  align-items:center;
  gap:12px;
  font-weight:600;
}

.profile-right{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.progress-card,
.badges-card{
  background:white;
  border-radius:30px;
  padding:35px;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.progress-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:5px;
}

.progress-top h1{
  color:#16a34a;
  font-size:30px;
}

.progress-top p{
  color:#64748b;
}

.badge-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:24px;
  margin-top:25px;
}

.badge-box{
  background:#f8faf8;
  border:1.5px solid #dfe7df;
  border-radius:24px;
  padding:22px;
  min-height:140px;
  position:relative;
  transition:.3s;
}

.badge-box h3{
  font-size:18px;
  margin-top:12px;
  margin-bottom:8px;
}

.badge-box p{
  font-size: 14px;
  color:#7a7a7a;
}

.badge-box.earned{
  border:2px solid #16a34a;
  background:#f0fdf4;
}

.earned-tag{
  position:absolute;
  left:28px;
  bottom:24px;

  padding:8px 16px;
  border-radius:999px;

  background:#dcfce7;
  color:#16a34a;
  font-size:13px;
  font-weight:700;
}

.recent-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 0;
  border-bottom:1px solid #e5e7eb;
}

.recent-item:last-child{
  border-bottom:none;
}

.recent-item span{
  color:#64748b;
  font-size:14px;
}


.profile-page{
  padding:40px;
}

.profile-grid{
  display:grid;
  grid-template-columns:350px 1fr;
  gap:30px;
}

.profile-card{
  background:white;
  border-radius:30px;
  padding:35px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.avatar{
  width:100px;
  height:100px;
  margin:auto;
  border-radius:50%;
  background:#16a34a;
  color:white;
  font-size:25px;
  font-weight:700;
  display:flex;
  align-items:center;
  justify-content:center;
}

.profile-card h2{
  margin-top:20px;
}

.profile-card button{
  margin-top:15px;
  padding:12px 24px;
  border-radius:30px;
  border:none;
  background:#16a34a;
  color:white;
  cursor:pointer;
}

.profile-stat{
  margin-top:20px;
  padding:18px;
  border:1px solid #e5e7eb;
  border-radius:18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.profile-stat div{
  display:flex;
  gap:10px;
  align-items:center;
}

.progress-card,
.badges-card{
  background:white;
  padding:25px;
  border-radius:30px;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}


.badges-card{
  margin-top:25px;
}

.badges-card h2{
  font-size:25px;
  font-weight:700;
  color:#0f172a;
  margin-bottom:6px;
}

.badge-subtitle{
  color:#64748b;
  font-size:14px;
  margin-bottom:30px;
}

.badge-grid{
  margin-top:20px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:18px;
}

.badge-box{
  border:2px solid #e5e7eb;
  border-radius:20px;
  padding:20px;
}

.badge-box.earned{
  border-color:#16a34a;
  background:#f0fdf4;
}
.earned-tag{
  display:inline-block;
  margin-top:10px;
  padding:6px 14px;
  background:#dcfce7;
  color:#16a34a;
  border-radius:999px;
  font-size:12px;
  font-weight:600;
}

.history-filters{
  display:flex;
  align-items:center;
  gap:16px;
  justify-content:center;

  flex-wrap:nowrap;   /* wrap hata do */
}
/* Blue */
.pill-recyclable{
  background: #3b82f6;
}

/* Green */
.pill-organic{
  background: #16a34a;
}

/* Red */
.pill-hazardous{
  background: #ef4444;
}

/* Yellow */
.pill-ewaste{
  background:#d97706;
  color: white;
}

/* Brown */
.pill-compost{
  background: #92400e;
}

/* Grey */
.pill-landfill{
  background: #6b7280;
}


/* =========================
   HISTORY PAGE
========================= */

.history-page{
  padding:50px 30px;
}

.history-page h1{
  font-size:3rem;
  color:#031b0d;
  margin-bottom:10px;
}

.history-page p{
  color:#64748b;
  font-size:1.1rem;
  margin-bottom:25px;
}

/* Filters */

.history-filters{
  display:flex;
  justify-content:center;
  gap:16px;
  margin-bottom:40px;
}

.history-filters input{
  flex:1;
  min-width:350px;
  height:60px;
  border:none;
  border-radius:999px;
  padding:0 25px;
  font-size:18px;
  background:white;
}

.filter-btn{
  background:white;
  color:#111827;
  border:1px solid #d1d5db;

  min-width:130px;
  height:58px;

  border-radius:999px;

  font-size:16px;
  font-weight:600;

  cursor:pointer;
  transition:.3s;
}

.filter-btn:hover{
  transform:translateY(-2px);
}

.filter-btn.active{
  background:#16a34a;
  color:white;
  border:none;
  box-shadow:none;
}

/* Table */

.history-table{
  background:white;
  border-radius:35px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,.05);

  max-width:1300px;
  margin:auto;
}

.history-header{
  display:grid;

  grid-template-columns:
    280px
    500px
    150px;

  padding:24px 50px;

  background:#edf5ee;

  font-size:15px;
  font-weight:700;
  color:#475569;
}
.history-row{
  display:grid;

  grid-template-columns:
    280px
    500px
    150px;

  align-items:center;

  padding:22px 50px;

  border-top:1px solid #edf2f7;
}

/* Category pills */

.category-pill{
  display:inline-flex;
  justify-content:center;
  align-items:center;

  min-width:150px;
  height:50px;

  border-radius:999px;

  font-size:16px;
  font-weight:700;

  color:white;
}


/* Confidence */

.confidence-cell{
  display:flex;
  align-items:center;
  gap:12px;
}

.progress-bar{
  width:100%;
  height:14px;

  background:#d1fae5;
  border-radius:999px;
  overflow:hidden;
}

.progress-fill{
  height:100%;
  background:#16a34a;
  border-radius:999px;
}
/* Empty State */

.empty-history{
  text-align:center;
  padding:50px;
  color:#64748b;
}

.history-header,
.history-row{
  display:grid;

  grid-template-columns:
    250px
    500px
    150px;
}

.history-header span:last-child{
  text-align:right;
}

.history-row div:last-child{
  text-align:right;
}

.milestones-card{
  background:white;
  margin-top:30px;
  padding:35px;
  border-radius:30px;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.milestones-card h2{
  margin-bottom:25px;
}

.milestone-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 0;
}

.milestone-left{
  display:flex;
  align-items:center;
  gap:15px;
}

.milestone-circle{
  width:40px;
  height:40px;
  border-radius:50%;
  background:#dcfce7;
  color:#166534;
  font-weight:700;
  display:flex;
  align-items:center;
  justify-content:center;
}

.milestone-left h3{
  margin:0;
  font-size:15px;
}

.milestone-left p{
  margin:2px 0 0;
  color:#64748b;
  font-size:15px;
}

.milestone-item span{
  color:#475569;
  font-size:18px;
}

.edit-profile-page{
  padding:60px 30px;
  display:flex;
  justify-content:center;
}

.edit-profile-card{
  width:100%;
  max-width:700px;

  background:white;

  border-radius:35px;

  padding:50px;

  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.edit-profile-card h1{
  font-size:3rem;
  margin-top:20px;
  margin-bottom:10px;
  color:#031b0d;
}

.edit-profile-card p{
  color:#64748b;
  margin-bottom:35px;
}

.avatar{
  width:120px;
  height:120px;

  border-radius:50%;

  background:#16a34a;
  color:white;

  font-size:42px;
  font-weight:700;

  display:flex;
  align-items:center;
  justify-content:center;

  margin:auto;
}

.form-group{
  display:flex;
  flex-direction:column;
  margin-bottom:25px;
}

.form-group label{
  margin-bottom:10px;
  font-weight:600;
  color:#031b0d;
}

.form-group input,
.form-group select{
  height:55px;

  border:1px solid #d1d5db;

  border-radius:15px;

  padding:0 18px;

  font-size:16px;
}

.save-btn{
  width:100%;

  height:58px;

  border:none;

  border-radius:16px;

  background:#16a34a;

  color:white;

  font-size:18px;
  font-weight:600;

  cursor:pointer;
}

.profile-actions{
  display:flex;
  gap:12px;
  justify-content:center;
  margin-top:20px;
}

.edit-btn{
  background:#16a34a;
  color:white;
  border:none;
  padding:12px 24px;
  border-radius:30px;
  cursor:pointer;
}

.signout-btn{
  background:white;
  color:#ef4444;
  border:2px solid #ef4444;
  padding:12px 24px;
  border-radius:30px;
  cursor:pointer;
}

.signout-btn:hover{
  background:#ef4444;
  color:white;
}

.auth-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px;
}

.auth-card{
  width:500px;
  max-width:500px;
  background:white;
  border-radius:40px;
  padding:50px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.auth-logo{
  width:80px;
  height:80px;
  margin:auto;
  border-radius:24px;
  background:#16a34a;
  color:white;

  display:flex;
  align-items:center;
  justify-content:center;
}

.auth-card h1{
  margin-top:25px;
  font-size:3rem;
}

.auth-card p{
  color:#64748b;
  margin-top:10px;
  margin-bottom:30px;   /* ye add karo */
}

.google-btn{
  width:300px;
  height:50px;

  background:#16a34a;
  color:white;

  border:none;
  border-radius:20px;

  font-size:18px;
  font-weight:600;

  cursor:pointer;
}

.google-btn:hover{
  opacity:0.9;
}

.divider{
  display:flex;
  align-items:center;
  gap:15px;
  margin:30px 0;
  color:#64748b;
}

.divider::before,
.divider::after{
  content:"";
  flex:1;
  height:1px;
  background:#d1d5db;
}

.input-group{
  height:50px;
  border:1px solid #d1d5db;
  border-radius:20px;

  display:flex;
  align-items:center;
  gap:12px;

  padding:0 20px;
  margin-bottom:18px;
}

.input-group input{
  flex:1;
  border:none;
  outline:none;
  font-size:13px;
  background:transparent;
}

.signin-btn,
.signup-btn{
  width:100%;
  height:60px;

  display:flex;
  align-items:center;
  justify-content:center;

  white-space:nowrap;

  font-size:20px;
  font-weight:700;
}

.signin-nav-btn,
.signout-nav-btn{
  background:#16a34a;
  color:white;

  border:none;
  border-radius:999px;

  padding:12px 24px;

  font-size:15px;
  font-weight:600;

  cursor:pointer;
}

.signout-nav-btn{
  background:#ef4444;
}

.auth-footer{
  margin-top:25px;
}

.auth-footer a{
  color:#16a34a;
  font-weight:700;
  text-decoration:none;
}

.back-home{
  display:inline-block;
  margin-top:20px;
  color:#64748b;
  text-decoration:none;
}

